<section class="section">
    <div class="container">
    <div class="column">

    <section class="section">
      <div class="container">
          <div class="columns is-centered">
              <div class="column is-half">
                  <h3 class="title is-3">Les tables de 1 au chiffre souhaité</h3>
                  <form  [formGroup]="identForm" (ngSubmit)="submit2()">
                    <div class="field">
                        <label class="label">Choisissez un chiffre</label>
                        <div class="control">
                            <input class="input is-success" formControlName="tableau" type="number" placeholder="chiffre" value="">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Valider</button>
                        </div>
                    </div>
                </form>
              </div>
          </div>
      </div>
    </section>
    </div>
    </div>
</section>



<div *ngIf="submitted">
        <ul *ngFor="let i of nbTables">
                <li *ngFor="let numbers of tab2">{{ nbTables[i-1] }} X {{ numbers.nums }}  = {{ numbers.nums * nbTables[i-1] }} </li>
                <li> ------------------ </li>
    </ul>
</div>




