<section class="section">
    <div class="container">
    <div class="column">
    <h1 class="title is-1 has-text-centered">TP multiplication</h1>
    <section class="section">
      <div class="container">
          <div class="columns is-centered">
              <div class="column is-half">
                  <h3 class="title is-3">La table du chiffre que vous souhaitez</h3>
                  <form  [formGroup]="identForm" (ngSubmit)="submit()">
                      <div class="field">
                          <label class="label">Choisissez un chiffre</label>
                          <div class="control">
                              <input class="input is-success" formControlName="chiffre" type="number" placeholder="chiffre" value="">
                          </div>
                      </div>
                      <div class="field is-grouped">
                          <div class="control">
                              <button class="button is-link">Valider</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>

    </section>
    </div>
    </div>
</section>

    <div *ngIf="isSubmitted">
    <app-table-multiplication [chiffre]="chiffre" ></app-table-multiplication>
    </div>
        <app-tables-multiplication ></app-tables-multiplication>
