
<div class="card has-text-centered ">
    <header class="card-header ">
      <p class="card-header-title ">
        Table de {{ chiffre}}
      </p>
      
    </header>
    <div class="card-content">
      <div class="">
        <ul>
            
            <li *ngFor="let numbers of tab">{{ chiffre }} X {{ numbers.num }} = {{ numbers.num * chiffre }} </li>
       </ul>
      </div>
    </div>
    
  </div>